[submodule "packages/light-source/addon/deps/filesystem/repo"]
	path = packages/light-source/addon/deps/filesystem/repo
	url = https://github.com/gulrak/filesystem.git
[submodule "packages/light-source/addon/deps/concurrentqueue/repo"]
	path = packages/light-source/addon/deps/concurrentqueue/repo
	url = https://github.com/cameron314/concurrentqueue.git
[submodule "packages/light-source/addon/deps/utfcpp/repo"]
	path = packages/light-source/addon/deps/utfcpp/repo
	url = https://github.com/nemtrif/utfcpp.git
[submodule "packages/light-source/addon/deps/stb/repo"]
	path = packages/light-source/addon/deps/stb/repo
	url = https://github.com/nothings/stb.git
[submodule "packages/light-source/addon/deps/cpp17_headers/repo"]
	path = packages/light-source/addon/deps/cpp17_headers/repo
	url = https://github.com/lightsourceengine/cpp17_headers.git
[submodule "packages/light-source/addon/deps/ls-ctx/repo"]
	path = packages/light-source/addon/deps/ls-ctx/repo
	url = https://github.com/lightsourceengine/ls-ctx.git
