[submodule "packages/@lse/core/addon/deps/filesystem/repo"]
	path = packages/@lse/core/addon/deps/filesystem/repo
	url = https://github.com/gulrak/filesystem.git
[submodule "packages/@lse/core/addon/deps/concurrentqueue/repo"]
	path = packages/@lse/core/addon/deps/concurrentqueue/repo
	url = https://github.com/cameron314/concurrentqueue.git
[submodule "packages/@lse/core/addon/deps/utfcpp/repo"]
	path = packages/@lse/core/addon/deps/utfcpp/repo
	url = https://github.com/nemtrif/utfcpp.git
[submodule "packages/@lse/core/addon/deps/stb/repo"]
	path = packages/@lse/core/addon/deps/stb/repo
	url = https://github.com/nothings/stb.git
[submodule "packages/@lse/core/addon/deps/cpp17_headers/repo"]
	path = packages/@lse/core/addon/deps/cpp17_headers/repo
	url = https://github.com/lightsourceengine/cpp17_headers.git
[submodule "packages/@lse/core/addon/deps/asmjit/repo"]
	path = packages/@lse/core/addon/deps/asmjit/repo
	url = https://github.com/asmjit/asmjit.git
[submodule "packages/@lse/core/addon/deps/blend2d/repo"]
	path = packages/@lse/core/addon/deps/blend2d/repo
	url = https://github.com/blend2d/blend2d.git
[submodule "packages/@lse/core/addon/deps/parallel-hashmap/repo"]
	path = packages/@lse/core/addon/deps/parallel-hashmap/repo
	url = https://github.com/greg7mdp/parallel-hashmap.git
[submodule "packages/@lse/core/addon/deps/SDL/repo"]
	path = packages/@lse/core/addon/deps/SDL/repo
	url = https://github.com/SDL-mirror/SDL.git
[submodule "packages/@lse/core/addon/deps/SDL_mixer/repo"]
	path = packages/@lse/core/addon/deps/SDL_mixer/repo
	url = https://github.com/SDL-mirror/SDL_mixer.git
